<!DOCTYPE HTML>
<html lang="zh-CN" background-color：#5f6f60>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,innitial-scale=1.0">
    <meta name="keywords" content="ASMR,氢听,助眠音乐. 解决失眠,睡前,睡前音乐">
    <meta name="description" content="氢听ASMR·用声音让你放松，让你更快入眠">
    <meta name="author" content="氢听ASMR">
    <meta name="application-name" content="QingTing">
    <title>氢听ASMR - 404</title>
    <link rel="shortcut icon" href="http://7xt0ns.com2.z0.glb.clouddn.com/image/shortcut-icon.jpg">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://7xt0ns.com2.z0.glb.clouddn.com/non-responsed.css">
    <link rel="stylesheet" href="http://7xt0ns.com2.z0.glb.clouddn.com/style.css">
    <style>
    .container {
        margin-top: 0px;
    }
    .submitBtn {
      border-color: #28a4c9;
      background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
      text-shadow: 0 -1px 0 rgba(0,0,0,.2);
      color:#fff;
      background-color:;
      background-color: #5bc0de;
    }
    .submitBtn:hover {
      background-color: #2aabd2;
      color:#fff;
    }
    </style>
</head>

<body style="background-color: #f1f1f1;">
  <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.qtasmr.com:5000/">氢听 ASMR</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="http://www.qtasmr.com:5000/index">即刻氢听</a></li>
                <li><a href="http://www.qtasmr.com:5000/about">关于氢听</a></li>
                <li><a href="http://www.qtasmr.com:5000/linkus">联系氢听</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="Search-PC" method="get" id="formName">
                <div class="form-group">
                  <input type="text" name= 'searchkey' class="form-control" placeholder="Search ASMR">
                    <div class="btn-group">
                        <button type="submit" form="formName" class="btn submitBtn">
                            睡前一搜
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <div style="padding-top: 20px"></div>
    <div class="container">
        <div class="jumbotron container" style="background-color: #ffffff">
            <h1 style="color:#555555">您访问的页面找不到了哦！</h1></br>
            <p style="color:#555555">404 Not Find ! 您要访问的资源已经飞到火星啦，看看下面有木有你喜欢的ASMR。</p>
            <div class="page-header" style="border-bottom: 1px solid #ccc;"></div>
            <div class="row">
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/thumbnail.jpg" alt="...">
                        <div class="caption">
                            <h6>这里是标题</h6>
                            <h6 style="color: #d0d0d0">这里是播放量或其他表述</h6>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/thumbnail.jpg" alt="...">
                        <div class="caption">
                            <h6>这里是标题</h6>
                            <h6 style="color: #d0d0d0">这里是播放量或其他表述</h6>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/thumbnail.jpg" alt="...">
                        <div class="caption">
                            <h6>这里是标题</h6>
                            <h6 style="color: #d0d0d0">这里是播放量或其他表述</h6>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/thumbnail.jpg" alt="...">
                        <div class="caption">
                            <h6>这里是标题</h6>
                            <h6 style="color: #d0d0d0">这里是播放量或其他表述</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top:30px"></div>
    <footer class="footer " style="background-color: #e0e0e0;">
        <div class="container" style="padding-top:20px">
            <div class="row ">
                <div class="col-xs-4 " style="border-right-style: solid ;border-right-color: #c0c0c0 ; border-right-width: 1px">
                    <h5 style="color:#909090">氢听ASMR</h5>
                    <div class="row ">
                        <div class="col-xs-4 "><a target="_blank" href="http://www.qtasmr.com:5000/about" style="color:#000000">关于氢听</a></div>
                        <div class="col-xs-4"><a  href="http://www.qtasmr.com:5000/mobile" style="color:#000000">切换移动端</a></div>
                        <div class="col-xs-4"><a target="_blank" href="http://www.qtasmr.com:5000/joinus" style="color:#000000">加入氢听</a></div>
                    </div>
                </div>
                <div class="col-xs-4 " style="border-right-style: solid ;border-right-color: #c0c0c0 ; border-right-width: 1px">
                    <h5 style="color:#909090">帮助</h5>
                    <div class="row ">
                        <div class="col-xs-4"><a target="_blank" href="http://www.qtasmr.com:5000/aboutasmr" style="color:#000000">关于ASMR</a></div>
                        <div class="col-xs-4"><a target="_blank" href="http://www.qtasmr.com:5000/help" style="color:#000000">使用帮助</a></div>
                        <div class="col-xs-4"><a target="_blank" href="http://www.qtasmr.com:5000/feedback" style="color:#000000">意见反馈</a></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <h5 style="color:#909090">友情链接</h5>
                    <div class="row ">
                        <div class="col-xs-4"><a target="_blank" href="http://www.bilibili.com/sp/ASMR" style="color:#000000">B站ASMR专区</a></div>
                        <div class="col-xs-4"><a target="_blank" href="http://tieba.baidu.com/f?kw=asmr&ie=utf-8" style="color:#000000">ASMR贴吧</a></div>
                        <div class="col-xs-4"><a target="_blank" href="http://asmr.mtfly.net/" style="color:#000000">ASMR中文社区</a></div>
                    </div>
                </div>
            </div>
            <div style="padding-top:10px;">
            </div>
            <div style="text-align:center">
                <h5 style="color:#909090;">Copyright ©2016 氢听科技（北京）有限公司 版权所有</h5></div>
            <div style="padding-bottom:10px;">
            </div>
        </div>
    </footer>
    <!--             上部分为Footer               -->
</body>

</html>
