<!DOCTYPE HTML>
<html lang="zh-CN" background-color：#5f6f60>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="ASMR,氢听,助眠音乐. 解决失眠,睡前,睡前音乐">
    <meta name="description" content="氢听ASMR·用声音让你放松，让你更快入眠">
    <meta name="author" content="氢听ASMR">
    <meta name="application-name" content="QingTing">
    <title>关于氢听</title>
    <link rel="shortcut icon" href="http://7xt0ns.com2.z0.glb.clouddn.com/image/shortcut-icon.jpg">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://7xt0ns.com2.z0.glb.clouddn.com/non-responsed.css">
    <link rel="stylesheet" href="http://7xt0ns.com2.z0.glb.clouddn.com/style.css">
    <style>
    .container {
        margin-top: 0px;
    }

    .joinus li {
        list-style: none;
        box-sizing: border-box;
        padding: 8px;
    }

    .joinus a {
        font-size: 18px;
    }

    .submitBtn {
      border-color: #28a4c9;
      background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
      text-shadow: 0 -1px 0 rgba(0,0,0,.2);
      color:#fff;
      background-color:;
      background-color: #5bc0de;
    }
    .submitBtn:hover {
      background-color: #2aabd2;
      color:#fff;
    }
    </style>
</head>

<body style="background-color: #f1f1f1;">
  <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">氢听 ASMR</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="http://www.qtasmr.com:5000/index">即刻氢听</a></li>
                <li><a href="http://www.qtasmr.com:5000/about">关于氢听</a></li>
                <li><a href="http://www.qtasmr.com:5000/linkus">联系氢听</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="Search-PC" method="get" id="formName">
                <div class="form-group">
                  <input type="text" name= 'searchkey' class="form-control" placeholder="Search ASMR">
                    <div class="btn-group">
                      <button type="submit" form="formName" class="btn submitBtn">
                            睡前一搜
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <!--             上部分为导航栏               -->
    <div>
        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/title.jpg" width="100%" height="100%">
    </div>
    <!--             上部分为title图片               -->
    <div style="padding-top:20px"></div>
    <div class="container">
        <div class="jumbotron" style="background-color: #fefefe" >
            <h1>意见反馈 为你氢听</h1>
            </br>
            </p>
            <div style="padding-top: 20px;border-top:1px solid #aaa">
<h3 style="color: #111;">氢听ASMR粉丝&用户反馈QQ群：517370315 <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=216a879d064c63e41d086a138da9febb6f7cc66c4109fdf52491f1168abdccd0"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="氢听ASMR粉丝&amp;反馈群" title="氢听ASMR粉丝&amp;反馈群"></a> </h3>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top:40px"></div>
    <footer class="footer " style="background-color: #e0e0e0;">
        <div class="container" style="padding-top:20px">
            <div class="row ">
                <div class="col-xs-4 " style="border-right-style: solid ;border-right-color: #c0c0c0 ; border-right-width: 1px">
                    <h5 style="color:#909090">氢听ASMR</h5>
                    <div class="row ">
                        <div class="col-xs-4 "><a target="_blank" href="http://www.qtasmr.com:5000/about" style="color:#000000">关于氢听</a></div>
                        <div class="col-xs-4"><a href="http://www.qtasmr.com:5000/mobile" style="color:#000000">切换移动端</a></div>
                        <div class="col-xs-4"><a target="_blank" href="http://www.qtasmr.com:5000/joinus" style="color:#000000">加入氢听</a></div>
                    </div>
                </div>
                <div class="col-xs-4 " style="border-right-style: solid ;border-right-color: #c0c0c0 ; border-right-width: 1px">
                    <h5 style="color:#909090">帮助</h5>
                    <div class="row ">
                        <div class="col-xs-4"><a target="_blank" href="http://www.qtasmr.com:5000/aboutasmr" style="color:#000000">关于ASMR</a></div>
                        <div class="col-xs-4"><a target="_blank" href="http://www.qtasmr.com:5000/help" style="color:#000000">使用帮助</a></div>
                        <div class="col-xs-4"><a target="_blank" href="http://www.qtasmr.com:5000/feedback" style="color:#000000">意见反馈</a></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <h5 style="color:#909090">友情链接</h5>
                    <div class="row ">
                        <div class="col-xs-4"><a target="_blank" href="http://www.bilibili.com/sp/ASMR" style="color:#000000">B站ASMR专区</a></div>
                        <div class="col-xs-4"><a target="_blank" href="http://tieba.baidu.com/f?kw=asmr&ie=utf-8" style="color:#000000">ASMR贴吧</a></div>
                        <div class="col-xs-4"><a target="_blank" href="http://asmr.mtfly.net/" style="color:#000000">ASMR中文社区</a></div>
                    </div>
                </div>
            </div>
            <div style="padding-top:10px;">
            </div>
            <div style="text-align:center">
                <h5 style="color:#909090;">Copyright ©2016 氢听科技（北京）有限公司 版权所有</h5></div>
            <div style="padding-bottom:10px;">
            </div>
        </div>
    </footer>
    <!--             上部分为Footer               -->
</body>

</html>
