<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="keywords" content="ASMR,氢听,助眠音乐. 解决失眠,睡前,睡前音乐">
    <meta name="description" content="氢听ASMR·用声音让你放松，让你更快入眠">
    <meta name="author" content="氢听ASMR">
    <meta name="application-name" content="QingTing">
    <title>关于氢听</title>
    <link rel="stylesheet" type="text/css" href="http://7xt0ns.com2.z0.glb.clouddn.com/css/body.css">
    <link rel="stylesheet" type="text/css" href="http://7xt0ns.com2.z0.glb.clouddn.com/css/top.css">
    <style type="text/css">
    footer {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
    }
    
    ;
    </style>
</head>

<body>
    <div class="titlenav">
        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/titleiconnew.png">
        <a>加入我们</a>
    </div>
    <nav class="searchnav">
        <ul>
            <li><a href="http://www.qtasmr.com:5000/mobile">首页</a></li>
            <li><a href="http://www.qtasmr.com:5000/mobile/search">搜索</a></li>
            <li><a href="http://www.qtasmr.com:5000/mobile/list">分区</a></li>
            <li><a href="http://www.qtasmr.com:5000/mobile/aboutlist">关于</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>加入氢听 共享视音</h1>
        <p>如果你是一名计算机相关的开发者、ASMR爱好者，非常欢迎你加入我们的团队！</br> 看看下面有没有你期待的职位吧！
        </p>
        <div style="margin-top: 1rem;border-top:1px solid #aaa">
            <h1 style="color: #ddd;text-align: center;">敬请期待</h1>
            <div style="margin: 0 20px 20px 0;width:240px;">
                <ul class="joinus" style="padding-left: 0">
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <h5>Copyright &copy2016 氢听科技（北京）有限公司 版权所有</h5>
    </footer>
    <script type="text/javascript">
    (function() {
        var dpr = window.devicePixelRatio;
        var html = document.documentElement;
        html.setAttribute('data-dpr', dpr);
    })();
    </script>
</body>

</html>
