<!DOCTYPE HTML>
<html lang="zh-CN" background-color：#5f6f60>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,innitial-scale=1.0">
    <meta name="keywords" content="ASMR,氢听,助眠音乐. 解决失眠,睡前,睡前音乐">
    <meta name="description" content="氢听ASMR·用声音让你放松，让你更快入眠">
    <meta name="author" content="氢听ASMR">
    <meta name="application-name" content="QingTing">
    <title>氢听ASMR视频版</title>
    <link rel="shortcut icon" href="http://7xt0ns.com2.z0.glb.clouddn.com/image/shortcut-icon.jpg">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://7xt0ns.com2.z0.glb.clouddn.com/non-responsed.css">
    <link rel="stylesheet" href="http://7xt0ns.com2.z0.glb.clouddn.com/style.css">
    <style>
    .container {
        margin-top: 0px;
    }
    .submitBtn {
      border-color: #28a4c9;
      background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
      text-shadow: 0 -1px 0 rgba(0,0,0,.2);
      color:#fff;
      background-color:;
      background-color: #5bc0de;
    }
    .submitBtn:hover {
      background-color: #2aabd2;
      color:#fff;
    }
    </style>
</head>

<body style="background-color: #f1f1f1;">
  <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.qtasmr.com:5000/">氢听 ASMR</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="http://www.qtasmr.com:5000/index">即刻氢听</a></li>
                <li><a href="http://www.qtasmr.com:5000/about">关于氢听</a></li>
                <li><a href="http://www.qtasmr.com:5000/linkus">联系氢听</a></li>
                <li><a href="http://www.qtasmr.com:5000/index">切换音频版</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="Search-PC" method="get" id="formName">
                <div class="form-group">
                  <input type="text" name= 'searchkey' class="form-control" placeholder="Search ASMR">
                    <div class="btn-group">
                      <button type="submit" form="formName" class="btn submitBtn">
                            睡前一搜
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <!--             上部分为导航栏               -->
    <div class="container" style="margin-bottom: 20px;margin-top: 10px">
        <div class="video-main">
            <iframe width="672" height="452" src="https://www.youtube.com/embed/LzYmJolFbzA" frameborder="0" allowfullscreen></iframe>
            <div class="video-info">
                <div>
                    <h4>【ASMR】 PPOMO ASMR 治疗耳朵 角色扮演<a href="" style="float:right;font-size:12px;margin-top:3px;border:0px" data-toggle="modal" data-target="#takerror">我要报错</a></h4>
                    <p>视频描述：</br>YouTube ENG FRA Sub 한국어 ASMR 양호선생님의 귀 상처치료 School Nurse\'s Ear Treatment Role Play
                        </br>作者：뽀모 PPOMO ASMR
                        </br>原链接：https://www.youtube.com/watch?v=LzYmJolFbzA
                        </br>直播地址：http://afreeca.com/monaca89
                    </p>
                    <p>视频源：<a href="#">哔哩哔哩动画Bilibili</a>
                        <a href="#">优酷Youku</a>
                        <a href="#">YouTube</a>&nbsp;&nbsp;&nbsp;视频统计：<a style="color:#000;border:0px;"><span class="glyphicon glyphicon-film"></span> 12345次</a>
                        <a style="color:#000;border:0px;"><span class="glyphicon glyphicon-share"></span> 12345次</a></p>
                </div>
            </div>
        </div>
        <div class="video-re-list">
            <p id="re-list-p">更多相关视频</p>
            <ul>
                <li>
                    <a href="#" class="thumb">
                        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/thumbnail.jpg" alt="...">
                        <div class="caption">
                            <p>这里是标题</p>
                            <p style="color: #aaa">播放量123 其他表述</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="thumb">
                        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/thumbnail.jpg" alt="...">
                        <div class="caption">
                            <p>这里是标题</p>
                            <p style="color: #aaa">播放量123 其他表述</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="thumb">
                        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/thumbnail.jpg" alt="...">
                        <div class="caption">
                            <p>这里是标题</p>
                            <p style="color: #aaa">播放量123 其他表述</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="thumb">
                        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/thumbnail.jpg" alt="...">
                        <div class="caption">
                            <p>这里是标题</p>
                            <p style="color: #aaa">播放量123 其他表述</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="thumb">
                        <img src="http://7xt0ns.com2.z0.glb.clouddn.com/image/thumbnail.jpg" alt="...">
                        <div class="caption">
                            <p>这里是标题</p>
                            <p style="color: #aaa">播放量123 其他表述</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
 <footer class="footer " style="background-color: #e0e0e0;">
        <div class="container" style="padding-top:20px">
            <div class="row ">
                <div class="col-xs-4 " style="border-right-style: solid ;border-right-color: #c0c0c0 ; border-right-width: 1px">
                    <h5 style="color:#909090">氢听ASMR</h5>
                    <div class="row ">
                        <div class="col-xs-4 "><a target="_blank" href="http://www.qtasmr.com:5000/about" style="color:#000000">关于氢听</a></div>
                        <div class="col-xs-4"><a   href="http://www.qtasmr.com:5000/mobile" style="color:#000000">切换移动端</a></div>
                        <div class="col-xs-4"><a  target="_blank" href="http://www.qtasmr.com:5000/joinus" style="color:#000000">加入氢听</a></div>
                    </div>
                </div>
                <div class="col-xs-4 " style="border-right-style: solid ;border-right-color: #c0c0c0 ; border-right-width: 1px">
                    <h5 style="color:#909090">帮助</h5>
                    <div class="row ">
                        <div class="col-xs-4"><a target="_blank"  href="http://www.qtasmr.com:5000/aboutasmr" style="color:#000000">关于ASMR</a></div>
                        <div class="col-xs-4"><a target="_blank"  href="http://www.qtasmr.com:5000/help" style="color:#000000">使用帮助</a></div>
                        <div class="col-xs-4"><a  target="_blank" href="http://www.qtasmr.com:5000/feedback" style="color:#000000">意见反馈</a></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <h5 style="color:#909090">友情链接</h5>
                    <div class="row ">
                        <div class="col-xs-4"><a  target="_blank" href="http://www.bilibili.com/sp/ASMR" style="color:#000000">B站ASMR专区</a></div>
                        <div class="col-xs-4"><a target="_blank"  href="http://tieba.baidu.com/f?kw=asmr&ie=utf-8" style="color:#000000">ASMR贴吧</a></div>
                        <div class="col-xs-4"><a  target="_blank" href="http://asmr.mtfly.net/" style="color:#000000">ASMR中文社区</a></div>
                    </div>
                </div>
            </div>
            <div style="padding-top:10px;">
            </div>
            <div style="text-align:center">
                <h5 style="color:#909090;">Copyright ©2016 氢听科技（北京）有限公司 版权所有</h5></div>
            <div style="padding-bottom:10px;">
            </div>
        </div>
    </footer>
    <!--             上部分为Footer               -->
    <div class="modal fade" id="takerror" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">我要报错</h4>
                </div>
                <div class="modal-body">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked> 音视频内容与视频标题或描述不符
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="2"> 视频无法正常播放（无法读取控件)等
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="3"> 播放过程卡顿严重
                        </label>
                    </div>
                    <div class="radio" style="padding-bottom: 10px">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="4"> 其他
                        </label>
                        </br>
                    </div>
                    <div style="padding-bottom: 10px">
                        <input type="text" class="form-control" id="othererror" placeholder="问题描述请在这里输入">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary">提交错误</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
